body {
	margin: 0px;
	padding: 0px;
	font-size: 12pt;
	background-color: #bfbfbf;
	font-family: Arial, Helvetica, Sans-Serif;
}
a{
	text-decoration: none;
	color: #fe5050;
}
a:hover{
	text-decoration: underline;
}
.page {
	border: solid 1px #444;
	/*-moz-border-radius: 4px;
	background-color:#dedede;*/
	background-color:#f9f9f9;
	border-left: solid 1px #444;
	border-right: solid 1px #444;
	width: 900px;
	/*padding: 0px 3px 0px 3px;*/
	margin-left: auto;
	margin-right: auto;
	min-height: 600px;
	position: relative;
	position: relative;
}
#header{
	height: 60px;
	padding: 4px;
	background-color: #333;
	color:#fff;
	
}
#content{
	position: relative;
	padding: 0.3em 0.5em;
	margin-bottom: 27px;
	/*margin: 4px 0px 4px 0px;*/
}

.hassidebar{
	margin-right: 100px;
}

#topnav {
	position: relative;
}

#footer{
	background-color: #444;
	color: #ffffff;
	text-align: center;
	position: absolute;
	height: 25px;
	width: 100%;
	bottom: 0px;
}

div#greeting {
	position: absolute;
	float:right;	
	top: 0px;
	right: 5px;
	font-size: 0.8em;
}
.greetingname{
	font-weight: bold;
}

.label {
	font-weight: bold;
}

td.label {
	text-align: right;
}

.candidateinfo {
	background-color: #f1f1f1; /*position:absolute;display:inline-block;*/
	margin-bottom: 30px;
	width: auto;
}

.addresscontainer {
	margin: 2px;
	border: solid 1px #6fbfd9;
	/*-moz-border-radius: 4px;*/
	min-width: 200px;
	overflow: visible;
}

.addressinfo {
	margin-left: 4px;
}

.sectionheader {
	height: 1.2em;
	background-color: #2e1fad !important;
	padding-left: 4px;
	color: #ffffff;
	font-size: 10pt;
	font-weight: bold;
}

.headericon {
	vertical-align: text-top;
}

.editlink {
	cursor: pointer;
}

.right {
	text-align: right;
}

.sectiontitle {
	float: left;
}

.sectionicons {
	float: right;
}

.inlineimage {
	vertical-align: middle;
}

div.topmenuitem {
	float: left;
	margin: 0px 3px;
}

a img {
	border-style: none;
}
div.error{
	color: #ff0000;
	background-color: #ffefef;
	width: auto;
	/*margin-top: 20px;*/
	overflow: visible;
	white-space: nowrap;
}
div.error p, div.error li{
	display: block;
	margin: 3px 2px;
}

#sidebar{
	position:absolute;
	width: 100px;
	top: 0px;
	right: 0px;
}